<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Solicitud</title>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	          crossorigin="anonymous" />
	</head>
	<body>
		<form th:action="@{/listaSolicitudes}" method="POST"> 
			<button id="atrasBoton" type="submit" class="btn btn-primary">
				Atras
			</button>
		</form> 
		
		<div class="container">
			<!--SACAR INFO DE LA SESION-->
			<div class="row">
				<h2>
			        <div class="nav-container">
			    	  <nav id="nav">
				           <ul>
				               <!-- <li th:text="${sol}"></li> -->
				               <li th:text="${s.sugerencia.titulo}"></li> 
				           </ul> 
			    	  </nav>  
					</div>
				</h2>
				<!-- <section>DATOS PROPUESTA...</section> -->
				<section th:text="${s.sugerencia.contenido}">DATOS PROPUESTA...</section>
			</div>
			<div class="row">
				<p>
					<form th:action="@{/VotoPositivo}" method="POST">
				       <button id="VotoPositivo" type="submit" class="btn btn-primary" style="background-color: white; border-color: transparent;">
				       		<a><i id="like" class="glyphicon glyphicon-thumbs-up"></i></a>
				       </button><li th:text="${s.posVotes}"></li>
			        </form>
			       <form th:action="@{/VotoNegativo}" method="POST">
				       <button id="VotoNegativo" type="submit" class="btn btn-primary" style="background-color: white; border-color: transparent;">
				     		<a><i id="dislike" class="glyphicon glyphicon-thumbs-down"></i></a>
				       </button><li th:text="${s.negVotes}"></li> 
			        </form>
			    </p>
			</div>
				<!--HACER BOTONES FUNCIONALES-->
			<div class="row">
			            <div class="col-md-8">
			              <div class="page-header">
			                <h2>Comentarios </h2>
			              </div>
			       	       <!-- ESCRIBIR COMENTARIOS -->
							<div class="container">
								<div class="row">
					                <!-- the comment box -->
					            	<div class="well">
					                    <h4><i class="fa fa-paper-plane-o"></i>Deja tu comentario:</h4>
					                    <form th:action="@{/comentario}" method="POST">
					                        <div class="form-group">
					                            <textarea class="form-control" rows="3"></textarea>
					                        </div>
					                        <button type="submit" name="say" class="btn btn-primary"><i class="fa fa-reply"></i> Submit</button>
					                    </form>
					                </div>
								</div>
							</div>
			           		
					   <!--<tr th:each=com "${cat.comentarios}">-->
						           <!--FOR COMETARIOS -->
						   	<div class="comments-list">
						           <div class="media">
						                <div class="media-body">
						                      <h4 class="media-heading user_name">
						                      		USUARIO
						                      </h4>
						                      	Comentario
						                      	
						                      	<!--<h4 class="media-heading user_name" th:text="${com.usuario}">
						                      </h4>
						                      	<p th:text="${com.comentario}"></p>
						                      	-->
						                      	
						                </div>
						           </div>
						    </div>
						    	<!--end-->
						    	<!--</tr>-->
		    		</div> 
		     </div> 
		</div>
		                
	</body>
</html>











